<div class="container">
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github social-footer"></i></a>
      <a href="#"><i class="fab fa-instagram social-footer"></i></a>
      <a href="#"><i class="fab fa-facebook social-footer"></i></a>
      <a href="#"><i class="fab fa-twitter social-footer"></i></a>
      <a href="#"><i class="fab fa-linkedin social-footer"></i></a>
    </div>
    <div class="footer-copyright">
      The best site to find VideoGames <i class="fas fa-heart" style="color: #ff0000;"></i> By Tocoron <i class="fa-solid fa-bolt-lightning" style="color: #ff0000;"></i> Team´s
    </div>
  </div>
</div>
