.card{
  border-radius: 50px;
  width: 50%;
  .bis_skin_checked{
    text-decoration: none;
  }
  input, textarea{
    border: 1px solid black;
  }
}

#btn_login, #btn_signup, #btn_buy{
  background-color: #f9bf29;
  color: #440a8f;
  border: none;
  text-align: center;
  width: 100%;
}

#btn_login:hover, #btn_signup:hover, #btn_buy:hover{
  background-color: #ffb700;
  color: #440a8f;
  border: none;
}
