.gradient-custom {
  /* fallback for old browsers */
  background: #440a8f;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgb(40, 7, 78), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgb(142, 127, 177), rgb(44, 6, 80));
  }
#profile{
  width: 70%;
}
